<div class="collapse z-top position-relative" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        {{ range .Site.Menus.main.ByWeight }}
        <div>
            <a href="{{ .URL }}" class="btn text-white col-auto nav-item">
                {{ .Name }}
            </a>
        </div>
        {{ end }}
    </div>
</div>
<div class="container home-text h-100">
    <div class="row header pt-3">
        <div class="col-8 col-lg-7">
            <div class="row">
                <div class="col-auto header-logo">
                    <img class="" src="/logo_small.png" alt="small innovation upstream logo">
                </div>
            </div>
        </div>
        <div class="col-4 d-lg-none d-flex justify-content-end menu-button" id="menu-button">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="32"
                    height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <line x1="4" y1="6" x2="20" y2="6" />
                    <line x1="4" y1="12" x2="20" y2="12" />
                    <line x1="4" y1="18" x2="20" y2="18" />
                </svg>
            </button>
        </div>
        <div class="col-5 d-none d-lg-flex justify-content-end p-0">
            <nav class="row nav justify-content-between">

                {{ range .Site.Menus.main.ByWeight }}
                <a href="{{ .URL }}" class="btn text-white col-auto nav-item">
                    {{ .Name }}
                </a>
                {{ end }}
            </nav>
        </div>

        <!-- <div class="position-absolute d-lg-none d-flex h-100 w-50 bg-white top-0 " >

        </div> -->
    </div>
    <div class="row home-overlay position-relative">
        <div class="col-12 col-lg-6 home-overlay-text d-flex d-lg-block flex-column align-items-center">

            <div class="col-12 home-overlay-text-color home-overlay-heading text-center text-lg-start">
                Building with Innovation&nbsp;Upstream means building with <em>leverage</em>
            </div>
            <div class="col-10 mt-3 home-overlay-subheading home-overlay-text-color">
                We build with leverage by implementing microservice design patterns and in-house
                code generators.  Every project we ship contributes to the next one, and your
                systems get better over time, at no extra cost.
            </div>
            <a class="mt-5 row home-overlay-button btn" href="mailto:build@innovationupstream.com">
                <span class="col-10">Getting started</span>
                <span class="col-2 bg-white d-inline-flex rounded-circle home-overlay-button-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right"
                        width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <polyline points="9 6 15 12 9 18" />
                    </svg>
                </span>
            </a>
        </div>
        <div class="col-6 d-none d-lg-flex"></div>
        <div class="col-12 col-lg-6 primary-font index-1 position-relative">
            <div class="row m-0 ">
                <div class="col-lg-3 col-4 d-flex flex-column align-items-center align-items-lg-start">
                    <div class="row home-overlay-subtitle">20+</div>
                    <div class="row home-overlay-subtitle-light">Upstream Services</div>
                </div>
                <div class="col-lg-3 col-4 d-flex flex-column align-items-center align-items-lg-start">
                    <div class="row home-overlay-subtitle">10K+</div>
                    <div class="row home-overlay-subtitle-light">Hours fulfilled</div>
                </div>
                <div class="col-lg-3 col-4 d-flex flex-column align-items-center align-items-lg-start">
                    <div class="row home-overlay-subtitle">99.99%</div>
                    <div class="row home-overlay-subtitle-light">Overall System Uptime</div>
                </div>
            </div>
        </div>
    </div>
</div>
