<div class="d-none d-xl-block content-foreground-line">
    <img src="/Line.png" alt="">
</div>
<div class="d-none d-xl-block content-foreground-line2">
    <img src="/Line1.png" alt="">
</div>
<div class="d-none d-xl-block content-foreground-line3">
    <img src="/Line2.png" alt="">
</div>

<div id="about"
    class="d-lg-flex d-xl-flex d-block about position-relative justify-content-md-center justify-content-lg-end justify-content-xl-normal">
    <div class="col-12 col-lg-6 col-xl-6 position-relative">
        <div class="position-relative width-fit-content">
            <img class="about__image position-relative" src="/aboutus_image.png" alt="">
            <div class="position-absolute about__oval">
                <img src="/Oval.png" alt="">
            </div>
        </div>
    </div>
    <div
        class="px-3 p-md-0 p-md-5 mt-5 col-12 col-md-12 col-lg-6 col-xl-6 d-flex align-items-center align-items-lg-end align-items-xl-start text-center text-lg-end text-xl-start flex-column">
        <div class="about__title">
            How We Build
        </div>
        <div class="mt-3 about__heading col-12 col-md-8 col-xl-12">
            We design and build systems that scale to the billions.
        </div>
        <div class="mt-3 col-12 col-lg-6 col-xl-12">
            <div class="about__description">
                Whether you're deploying to web2, web3, or both; Innovation Upstream has the
                systems, process, and expertise that you need to ship your project quickly,
                securely, and scalably.
            </div>
            <div class="about__description mt-3">
                Read about our custom tooling, upstream systems, and rapid development processes
                that enable us to implement your innovative ideas in a way that will scale.
            </div>
        </div>
    </div>
</div>
