<div id="benefits" class="benefits container position-relative">
    <div class="row bg-transparent">
        <div class="col-12 col-md-7 col-lg-3 mb-5">
            <div class="benefits-title">
                OUR
            </div>
            <div class="benefits-title">
                BENEFITS
            </div>
            <div class="mt-3 benefits-description">
                Lorem ipsum dolor sit amet,
                onsectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labor.
            </div>
        </div>
        <div class="col-12 col-md-12 col-xl-9 p-0">
            <div class="row justify-content-evenly p-0 m-0">
                <div class="m-md-0 col-4 p-3 benefits-feature-first">
                    <div class="benefits-feature-header">
                        FIRST
                    </div>
                    <div class="benefits-feature-header">
                        FEATURE
                    </div>
                </div>
                <div class="m-md-0 col-4 p-3 benefits-feature-other ">
                    <div class="benefits-feature-header">
                        SECOND
                    </div>
                    <div class="benefits-feature-header">
                        FEATURE
                    </div>
                </div>
                <div class="m-md-0 col-4 m-3 p-3 benefits-feature-other ">
                    <div class="benefits-feature-header">
                        THIRD
                    </div>
                    <div class="benefits-feature-header">
                        FEATURE
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>