<div id="benefits" class="benefits container d-xl-block">
    <div class="row bg-transparent">
        <div class="col-12 col-md-7 col-lg-3 mb-5 bg-white benefits-feature-header-position">
            <div class="benefits-title">
                WHAT'S
            </div>
            <div class="benefits-title">
                UPSTREAM?
            </div>
            <div class="mt-3 benefits-description">
                We are an end-to-end contributor, not another team to manage.  We join your DAO and contribute leverage where it is needed most to push the project forward and drive value for the DAO as a collective.
            </div>
        </div>
        <div class="col-12 col-md-12 col-xl-9 p-0">
            <div class="d-flex p-0 m-0 benefits__feature">
                <div class=" p-3 benefits-feature-first benefits-feature-first-position">
                    <div class="benefits-feature-header">
                        E2E
                    </div>
                    <div class="benefits-feature-header">
                        CONTRIBUTOR
                    </div>
                    <p style="color: white; margin-top: 1rem;">
                    We join and work with your DAO to make end to end contributions, without creating overhead.
                    </p>
                </div>
                <div class=" p-3 benefits-feature-other benefits-feature-second-position">
                    <div class="benefits-feature-header">
                        DAO
                    </div>
                    <div class="benefits-feature-header">
                        MEMBERSHIP
                    </div>
                    <p style="color: black; margin-top: 1rem;">
                    We join your DAO to participate in governence and align incentives for the long term.  Our specialty is technical governence but we will participate in the discussion whenever we feel out voices will add value.
                    </p>
                </div>
                <div class="p-3 benefits-feature-other benefits-feature-third-position">
                    <div class="benefits-feature-header">
                        WORLD-CLASS
                    </div>
                    <div class="benefits-feature-header">
                        TALENT
                    </div>
                    <p style="color: black; margin-top: 1rem;">
                    Innovation Upstream is a diverse team of world-class software/systems engineers,
                    designers, and project coordinators from across the globe.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
