<div class="contact container position-relative mt-5" id="contact">
    <div class="contact__background">
        <img class="w-100 contact__background__image" src="/contact_bg.png" alt="">
        <div class="contact__background__text row justify-content-center">
            <div class="contact__background__text__header">
                Get in touch with us and we will design your system for free.
            </div>
            <div class="mt-3 contact__background__text__description">
                Building with Innovation Upstream means your
                project will be scalable, decoupled, and most importantly: handled by a team of
                passionate, proven entrepreneurial engineers and innovators.
            </div>
            <div
                class="width-fit-content  input-group mb-3 mt-5 contact__background__text-background contact__background__text__textbox p-1">
                <a href="mailto:build@innovationupstream.com"
                    class="input-group-text btn contact__background__text__button">Contact Us</a>
            </div>
        </div>
    </div>
</div>
