<div id="tools" class="tools position-relative pt-5">
    <div class="container position-relative">
        <div class="row ">
            <div class="col-12 col-md-7 col-lg-5 col-xl-3 mb-5">
                <div class="row">
                    <div class="tools__title">
                        Our PROJECTS
                    </div>
                    <div class="mt-3 tools__header">
                        Est. 2020. Multiple products already brought to market.
                    </div>
                    <div class="mt-3 tools__description">
                        We've only been around since 2020, and haven't wasted any time.  The power
                        of our systems and process speak for themselves by the speed at which we 
                        deliver.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tools__foreground-line">
        <img class="d-none d-xl-block " src="/tools_line.png" alt="">
        <div class="d-flex justify-content-end mb-5 mt-5">
            <div class="tools__tool-1">
                <div class="tools__tool__title">
                    MIMOBL
                </div>
                <div class="tools__tool__description tools__tool--color">
                    A 2-sided marketplace empowering independant service providers to serve
                    customers across north america.
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-start mb-5">
            <div class="tools__tool-2 tools__tool--color">
                <div class="tools__tool__title">
                    APESWAP
                </div>
                <div class="tools__tool__description tools__tool--color">
                    A decentralized exchange built on Binance smart chain with staking, innovative and stakable NFTs, a vast partner network, and a rapidly growing ecosystem of projects powered by the BANANA token.  Our scope is frontend implementation, optimization, and developer libraries and tooling.
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mb-5">
            <div class="tools__tool-3 tools__tool--color">
                <div class="tools__tool__title">
                    HEDGEPIE.COM
                </div>
                <div class="tools__tool__description tools__tool--color">
                    A DeFi fund marketplace that gives users the ability to
                    tokenize their defi strategies and trade them like an
                    index/mutual/hedge fund.
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-start mb-5">
            <div class="tools__tool-4 tools__tool--color">
                <div class="tools__tool__title">
                    Rubix.io
                </div>
                <div class="tools__tool__description tools__tool--color">
                    A centralized exchange operating in latin america and focusing on driving crypto adoption in the emeraging latin american market.
                </div>
            </div>
        </div>
    </div>

</div>
