<div id="tools" class="tools position-relative pt-5">
    <div class="d-none d-xl-block tools__foreground-line">
        <img src="/tools_line.png" alt="">
        <div>
            <div class="tools__tool-1">
                <div class="tools__tool__title">
                    MIMOBL
                </div>
                <div class="tools__tool__description tools__tool--color">
                    A 2-sided marketplace empowering independant service providers to serve
                    customers across north america.
                </div>
            </div>
        </div>
        <div>
            <div class="tools__tool-2 tools__tool--color">
                <div class="tools__tool__title">
                    RUBIX EXCHANGE
                </div>
                <div class="tools__tool__description tools__tool--color">
                    A cryptocurrency exchange with top-of-market rates, deep liquidity, and global
                    scale.
                </div>
            </div>
        </div>
        <div>
            <div class="tools__tool-3 tools__tool--color">
                <div class="tools__tool__title">
                    RUBI.FINANCE
                </div>
                <div class="tools__tool__description tools__tool--color">
                    A web3 decentralized finance+NFT application that gives users the ability to
                    tokenize their crypto portfolio and staking strategies and trade them like an
                    index fund.
                </div>
            </div>
        </div>
        <div>
            <div class="tools__tool-4 tools__tool--color">
                <div class="tools__tool__title">
                    [Your Innovation]
                </div>
                <div class="tools__tool__description tools__tool--color">
                    <a href="mailto:build@innovationupstream.com">Contact us</a> and we'll design
                    your projects systems in minutes.  Building with Innovation Upstream means your
                    project will be scalable, decoupled, and most importantly handled by a team of
                    passionate, proven entrepreneurial engineers and innovators.
                </div>
            </div>
        </div>
    </div>

    <div class="container position-relative">
        <div class="row ">
            <div class="col-12 col-md-7 col-lg-5 col-xl-3 mb-5">
                <div class="row">
                    <div class="tools__title">
                        Our PROJECTS
                    </div>
                    <div class="mt-3 tools__header">
                        Est. 2020. Multiple products already brought to market.
                    </div>
                    <div class="mt-3 tools__description">
                        We've only been around since 2020, and haven't wasted any time.  The power
                        of our systems and process speak for themselves by the speed at which we 
                        deliver.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
