<section class="intro-section flex items-center lg:items-start relative pt-20 pb-20 lg:pt-64 lg:pb-22 min-h-screen xl:min-h-[900px] lg:h-screen bg-cover bg-center bg-no-repeat bg-first-section-pattern">
  <div
    class="bg-first-section bg-cover lg:bg-contain bg-center bg-no-repeat absolute z-1 top-0 left-0 xl:left-[255px] w-full h-full"
  ></div>
  <div
    class="glass-bg bg-left absolute left-0 top-0 w-full lg:w-[52%] h-full z-4 bg-glass-bg backdrop-blur-xl"
  ></div>

  <div class="container w-full lg:h-full max-w-[1172px] px-4 mx-auto">
    <div class="intro-wrap w-full lg:h-full flex flex-col items-center max-w-lg relative z-2 mx-auto lg:m-0 lg:items-start">
      <h1 class="text-3xl md:text-4xl lg:text-h1 md:leading-snug lg:leading-snug lg:text-left text-center text-white font-bold mb-3 uppercase">
        {{ .ctx.title }}
      </h1>
      <p class="text-base text-white text-center lg:text-left font-light mb-14">
        {{ .ctx.subtitle }}
      </p>
      <a
        href="#"
        class="base-button bg-button-gradient text-white text-base inline-flex rounded-5xl py-2 pl-9 pr-2 rounded-[24px] items-center mb-20 lg:mb-4"
      >
        <span class="inline-block mr-6">{{ .ctx.button }}</span>
        <span
          class="shevron w-8 h-8 flex items-center justify-center rounded-[50%] bg-white"
        >
          <svg
            width="6"
            height="10"
            viewBox="0 0 6 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.570798 0.893939L0.910026 0.560708L5.4292 5L0.910026 9.43929L0.570798 9.10606L4.46026 5.28535L4.75075 5L4.46026 4.71465L0.570798 0.893939Z"
              stroke="#1F5DB0"
              stroke-width="0.8"
            />
          </svg>
        </span>
      </a>
      <div class="intro-stats grid grid-cols-3 max-w-[343px] gap-10 lg:mt-auto">
        
        {{ range .ctx.number }}

        <div class="intro-stats__item">
          <span class="text-white mb-1 inline-block text-3xl font-semibold">
            {{ .quantity }}
          </span>
          <p class="text-white text-xs font-extralight">{{ .info }}</p>
        </div>

        {{ end }}

      </div>
    </div>
  </div>
</section>
