.benefits {
    padding-top: 12rem;
    min-height: 32.6rem;
}

.benefits-title {
    font-family   : 'Prompt', sans-serif;
    font-style    : normal;
    font-weight   : bold;
    font-size     : 38px;
    line-height   : 133.2%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color         : #0A1A2F;
}

.benefits-description {
    font-family: 'Prompt', sans-serif;
    font-style : normal;
    font-weight: normal;
    font-size  : 16px;
    line-height: 27px;
}

.benefits-feature-header {
    font-family            : 'Prompt', sans-serif;
    font-style             : normal;
    font-weight            : bold;
    font-size              : 24px;
    line-height            : 133.2%;
    letter-spacing         : 0.02em;
    text-transform         : uppercase;
    background             : linear-gradient(89.94deg, #27E1E1 0.06%, #1F6DD6 99.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.benefits-feature-first {
    background   : #0A1A2F;
    border-radius: 10px;
    height       : 330px;
    width        : 237px;
}

.benefits-feature-other {
    width        : 237px;
    min-height       : 330px;
    background   : #FFFFFF;
    border       : 1px solid #EFF4FB;
    box-sizing   : border-box;
    border-radius: 10px;
}



@media only screen and (max-width: 280px) {
    .benefits-feature-header-position {
        position: relative;
        
    }
    .benefits-feature-first-position {
        position: relative;
        margin-top: 3rem;
    }
    
    
    .benefits-feature-third-position {
        position: relative;
        margin-top: 3rem;
    }
    
    .benefits-feature-second-position {
        position: relative;
        margin-top: 3rem;
    }
    .benefits__feature{
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 280px) {
    .benefits__feature{
        flex-direction: column;
        align-items: center;
    }
    .benefits-feature-first-position {
        position: relative;
        margin-top: 3rem;
    }
    
    
    .benefits-feature-third-position {
        position: relative;
        margin-top: 3rem;
    }
    
    .benefits-feature-second-position {
        position: relative;
        margin-top: 3rem;
    }
    .benefits__feature{
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 600px) {
    .benefits__feature{
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .benefits__feature{
        flex-direction: row;
        justify-content: space-between;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .benefits__feature{
        flex-direction: column;
        align-items: center;
    }
    .benefits-feature-header-position {
        position: absolute;
        right   : 59rem;
    }
    .benefits-feature-first-position {
        position: absolute;
        right   : 43rem;
    }
    
    .benefits-feature-third-position {
        position: absolute;
        right   : 3rem;
    }
    
    .benefits-feature-second-position {
        position: absolute;
        right   : 24rem;
    }
}