.benefits {
    padding-top: 12rem;

    .benefits-title {
        font-family   : 'Prompt', sans-serif;
        font-style    : normal;
        font-weight   : bold;
        font-size     : 38px;
        line-height   : 133.2%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color         : #0A1A2F;
    }

    .benefits-description {
        font-family: 'Prompt', sans-serif;
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 27px;
    }

    .benefits-feature-first {
        background   : #0A1A2F;
        border-radius: 10px;
        height       : 330px;
        width        : 237px;
    }

    .benefits-feature-other {
        width        : 237px;
        height       : 330px;
        background   : #FFFFFF;
        border       : 1px solid #EFF4FB;
        box-sizing   : border-box;
        border-radius: 10px;
    }

    .benefits-feature-header {
        font-family            : 'Prompt', sans-serif;
        font-style             : normal;
        font-weight            : bold;
        font-size              : 24px;
        line-height            : 133.2%;
        letter-spacing         : 0.02em;
        text-transform         : uppercase;
        background             : linear-gradient(89.94deg, #27E1E1 0.06%, #1F6DD6 99.95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}