@import "styles";
@import "about";
@import "benefit";
@import "tools";
@import "contact";
.z-top {
    z-index: 999;
}

.primary-font {
    font-family: 'Prompt', sans-serif;
}

.width-fit-content {
    width: -moz-fit-content !important;
    width: fit-content !important;
}

.input-blue_border_none {
    outline           : 0px !important;
    -webkit-appearance: none;
    box-shadow        : none !important;
    border: 0px !important;
}

@media only screen and (max-width: 240px) {
    body{
        display: none;
    }
}