.tools {
    height    : 1395px;
    background: #0A1A2F;
    margin-top: 23rem;

    .tools__title {
        font-family            : 'Prompt', sans-serif;
        font-style             : normal;
        font-weight            : 600;
        font-size              : 16px;
        line-height            : 24px;
        letter-spacing         : 0.11em;
        text-transform         : uppercase;
        background             : linear-gradient(89.94deg, #27E1E1 0.06%, #1F6DD6 99.95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .tools__header {
        font-family   : 'Prompt', sans-serif;
        font-style    : normal;
        font-weight   : bold;
        font-size     : 38px;
        line-height   : 48px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color         : #FFFFFF;
    }

    .tools__description {
        font-family: 'Prompt', sans-serif;
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 28px;
        width      : 346px;
        height     : 84px;
        color      : #6D7F98;
    }

    .tools__foreground-line {
        position: absolute;
        top     : 0;
        right   : 16.4rem;
    }

    .tools__tool__title {
        font-family            : 'Prompt', sans-serif;
        font-style             : normal;
        font-weight            : bold;
        font-size              : 24px;
        line-height            : 36px;
        text-align             : right;
        background             : linear-gradient(89.94deg, #27E1E1 0.06%, #1F6DD6 99.95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .tools__tool--color {
        color: #FFFFFF;
    }

    .tools__tool__description {
        font-family: 'prompt', sans-serif;
        font-style : normal;
        font-weight: 300;
        font-size  : 14px;
        line-height: 24px;
        text-align : right;
    }

    .tools__tool-1 {
        width   : 202px;
        height  : 140px;
        top     : 27rem;
        left    : -10rem;
        position: absolute !important;
    }

    .tools__tool-2 {
        width   : 202px;
        height  : 140px;
        top     : 33rem;
        left    : 22rem;
        position: absolute !important;
    }

    .tools__tool-3 {
        width   : 202px;
        height  : 140px;
        top     : 61rem;
        left    : -10rem;
        position: absolute !important;
    }

    .tools__tool-4 {
        width   : 202px;
        height  : 140px;
        top     : 68rem;
        left    : 21.5rem;
        position: absolute !important;
    }

}